@import '~less';

.claire-home {
    padding: 20px;

    .claire-navigation {
        height: calc(100vh - 40px);
        min-width: 80px;
    }

    .claire-content {
        padding-left: 20px;
        height: calc(100vh - 40px);
        min-width: 800px;
    }

    // 折叠按钮
    .fold-icon {
        display: block;
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        color: gray;
    }
}